body {
  background-color: #f5f7fb;
  font-family: "Segoe UI", sans-serif;
}

/* NAVBAR */
.navbar-custom {
  background-color: #1e3a8a;
}

.navbar-custom .nav-link,
.navbar-custom .navbar-brand {
  color: #fff;
  transition: color 0.3s ease; /* Animación al pasar el mouse */
	animation: aparecer 1s ease-in-out;
}



.btn-logout {
  background: #ef4444;
  border: none;
}

.btn-logout:hover,
.btn-delete:hover {
  background-color: #ef4444;
}

/* HERO */
.hero {
  padding: 40px 20px;
}

.hero h1 {
  color: #1e3a8a;
  font-weight: bold;
}

.badge-custom {
  background: #e0e7ff;
  color: #1e3a8a;
}

/* CARDS */
.card-custom {
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  transition: 0.3s;
}

.card-custom:hover {
  transform: translateY(-5px);
}

/* RESUMEN */
.summary-card {
  border-radius: 10px;
  padding: 15px;
  background: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
}

/* ACTIVIDAD */
.activity-card {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
}

.titulo-navbar {
	font-family: 'Poppins', sans-serif; /* Fuente moderna */
	font-size: 18px; /* Tamaño equilibrado */
	font-weight: 600; /* Semi-negrita */
	color: #ffffff; /* Texto blanco */
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4); /* Sombra suave */
	letter-spacing: 1px; /* Espaciado entre letras */
	margin: 0 10px; /* Separación entre títulos */
	transition: color 0.3s ease; /* Animación al pasar el mouse */
	animation: aparecer 1s ease-in-out;
}
/* SOPORTE */
.support-card {
  background: #eef2ff;
  border-radius: 10px;
  padding: 20px;
}
@keyframes aparecer {from { opacity:0;
	transform: translateY(-5px);
}
to {
	opacity: 1;
	transform: translateY(0);
}